{{ ansible_managed | comment }}

{% for section_name, section_items in item.config.items() %}
[{{ section_name }}]
{%   for key, value in section_items.items() %}
{{ key }}={{ value }}
{%   endfor %}

{% endfor %}
